{% extends "base.html.twig" %}

{% block body %}

<div class="jumbotron">

	<div class="container">


		<h1 class="display-3"> CONTACT</h1>

<p><a class="btn btn-primary btn-lg" href="#" role="button">C'eSt PaRti Mon Kiki!</a></p>

</div>
</div>

{% endblock %}