{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron">

        <div class="container"> Formulaire de La Mort Qui Tue Les Mouches</h1>



        </div>
    </div>

    <div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}