<div class="container">
<footer class="footer">
    <section class="footer__social-section">
        <h3>Social</h3> 
        <div class="facebook">
            <a href="#">
                <i class="fa fa-facebook-official" aria-hidden="true">Facebook</i>
            </a>
        </div>
        <div class="linkedin">
            <a href="#">
                <i class="fa fa-linkedin-square" aria-hidden="true">LinkedIn</i>
            </a>
        </div>
        <div class="youtube">
            <a href="#">
             <i class="fa fa-youtube-square" aria-hidden="true">YouTube</i>
         </a>
     </div>
     
 </section>
 <section class="footer__copyright-section">
    <h3>Adopte un Dev</h3>
</section>
<section class="footer__contact-section">
    <h3>Nous contacter</h3>
</section>
</footer>
</div>